#cifras
{
    margin: 0 auto;
    background: url('../images/bgs/bg_cifras2.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: $white;
}
.cifras_titulo
{
    h2
    {
        color: #174886;
        font-size: rem(40px);
        margin: 0 0 70px;
        font-family: $bd;
    }
}
.cifras__wrapper-item
{
    display: flex;
    justify-content: center;
    align-content: center;

    div
    {
        width: 90%;
        margin: 0 auto 90px;
        text-align: center;
    }
    img
    {
        margin: 0 auto;
        display: block;
    }
    h1
    {

        color: #34b6be;
        font-size: rem(20px);
        font-family: 'Heavitas';

        @include mq('md') {
            font-size: rem(45px);
        }
    }

    p
    {
        color: #434244;
        font-size: rem(14px);
        font-family: 'Open-Sans-Regular';
        @include mq('md') {
            font-size: rem(18px);
        }
    }
}
