.entes__wrapper{
  justify-content: center;
  position: relative;
  padding: 3%;
  @include mq('md') {
    padding: 0 10% 0 10%;
    display: flex;
    flex-wrap: wrap;
  }
  &-item{
    width: 100%;
    padding: 10px;
    margin: 0px;
    text-align: center;

    @include mq ('md'){
      width: 31%;
      margin: 10px;
    }
    
    img {
      display: inline-block;
    }
  }
}
