
.servicios__wrapper{
    position: relative;
    padding: 3%;
    @include mq('md') {
      padding: 0%;
      display: flex;
      flex-wrap: wrap;
    }
      &-item{
        border-radius: 20px;
        width: 100%;
        @include mq ('md'){
          width: 31%;
          margin: 10px;
        }
        padding: 20px;
        margin: 0;
        figure{
          text-align: center;
          img{
            max-width: 220px;
            padding: 15px;
          }
        }
        &-info{
          h4{
            color: $blue-dk;
          }
          p{
            strong{
              color: $salmonnew;
            }
            a{
              color: $salmon;
            }
          }
        }
    }
  }
  #fechas{
    padding: 10% 0;
      .container{
        .row{
          .fechas-item{
            display: block;
            padding: 5%;
            @include mq('md'){
              display: flex;
              padding: 0% 15%;
            }
            .icono{

              @include mq('md'){
                border-right: 30px solid #d3d3d3;
                padding-right: 20px;
              }
              img{
                max-width: 92px;
                height: 92px;
              }
            }
            .info{
              padding: 0 5%;
              h2{
                font-family: $hv;
                font-size: 28px;
              @include mq('md'){
                font-size: 38px;
              }
            }
            .texto{
              background: $white;
              margin-left: -61px;
              padding: 20px 20px 20px 40px;
            }
            }
          }
        }
      }
  }
