.event-banner {
	img {
		width: 100%;
		height: auto;
	}
}
#banners,
#banner1
{
	color: $white;
	position: relative;
	padding: rem(66px) rem(0px) rem(90px);
	font-family: 'Open-Sans-Regular';
	overflow: hidden;

	h3
	{
		font-family: $bd;
	}

	@include mq('md') {
		min-height: rem(500px);
	}

	&:before {
		content: "";
		display: block;
		width: 122%;
		height: 100%;
		border-bottom-left-radius:50%;
		border-bottom-right-radius:50%;
		z-index: -1;
		@include center('both');
		@include background-gradient($blue-lt, $blue, 'horizontal');
	}
}

#banner-encaja
{
	color: $white;
	position: relative;
	padding: rem(66px) rem(0px) rem(90px);
	font-family: 'Open-Sans-Regular';
	overflow: hidden;
	h3
	{
		font-family: $bd;
	}
	@include mq('md') {
		min-height: rem(500px);
	}

	&:before {
		content: "";
		display: block;
		width: 122%;
		height: 100%;
		border-bottom-left-radius:50%;
		border-bottom-right-radius:50%;
		z-index: -1;
		@include center('both');
		@include background-gradient(#37b5be, #481c9b, 'horizontal');

	}
}

#banners_white,
#banner2,
#banner-giass,
#acceso-giass
{
	background: url('../images/bgs/bg_puntos.png');
	background-repeat: no-repeat;
	background-size: contain;
	padding: rem(66px) rem(0px) rem(90px);
	font-family: 'Open-Sans-Regular';
	h3
	{
		color: #174886;
		font-family: $bd;
	}
	p
	{
		color: #434244;
		font-family: 'Open-Sans-Regular';
	}
}
#banner-giass,
#acceso-giass
{
	background-image:none ;
}

#interactivos
{
	background: #f7f7f7 url('../images/bgs/bg_purpura.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: $white;
	padding: rem(217px) rem(10px);
	display: inline-block;
	@include mq('md'){
		display: flex;
	}
	.time__wrapper, .map__wrapper{
		padding: 20px;
		&-info{
			p{
				a{
					background-color: $salmon;
					padding: 10px;
					color: $white;
					margin-top: 30px;
					display: inline-block;
				}
			}
		}
		&-img{
			text-align: center;
	font-family: 'Open-Sans-Regular';
	h3
	{
		font-family: $bd;
	}
	p
	{
		font-family: 'Open-Sans-Regular';
	}
	a
	{
		width: 195px;
		height: 60px;
		border-radius: 5px;
		display: block;
		margin: 40px auto 20px;
		float: left;
		text-align: center;
		line-height: 60px;
		background: #e96773;
		color: #fff;
		font-size: 18px;
		font-family: $bd;

		&:hover
		{
			text-decoration: none;
		}
	}
}
}
}
#banners_purple,
#banner3
{
	background: url('../images/bgs/bg_purpura.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: $white;
	padding: rem(217px) rem(0px);
	font-family: 'Open-Sans-Regular';
	h3
	{
		font-family: $bd;
	}
	p
	{
		font-family: 'Open-Sans-Regular';
	}
}
#acceso-giass
{
	.acceso__wrapper-info
	{
		a
		{
			width: 195px;
			height: 60px;
			border-radius: 5px;
			display: block;
			margin: 40px auto 20px;
			float: left;
			text-align: center;
			line-height: 60px;
			background: #e96773;
			color: #fff;
			font-size: 18px;
			font-family: $bd;
		}

	}
}
#informacion-giass
{
	background: url('../images/bgs/bg_giaas.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: $white;
	padding: rem(150px) rem(0px);
	text-align: center;
	font-family: 'Open-Sans-Regular';
	@include mq('md') {
		padding: 29.7rem rem(0px);
	}
	.row
	{
		text-align: center;
		.col-lg-4
		{
			display: inline-block;
			float: none;
			width: 100%;
			margin: 30px 0;
			img
			{
				width: 120px;
			}
			@include mq('md') {
				width: 33%;
			}
		}
	}

	h3
	{
		font-family: $bd;
	}
	p
	{
		font-family: 'Open-Sans-Regular';
	}
	.informacionGiass__wrapper-alcance
	{
		margin-top: 90px;
		text-align: left;
		p
		{
			margin:15px  0;
		}
	}
}

#servicios
{
	background: #f7f7f7;
	padding: rem(50px) rem(0px);
	font-family: 'Open-Sans-Regular';
	h3
	{
		color: #174886;
        font-size: rem(40px);
		margin: 0 0 70px;
		font-family: $bd;
	}
	p
	{
		font-family: 'Open-Sans-Regular';
	}
	.box_servicios
	{
		background: #fff;
		padding: rem(10px);
		border-radius: 10px;
		min-height: 575px;
		margin-bottom: 20px;
		box-shadow: 2px 2px 5px #ccc;
		figure
		{
			height: 195px;
		}
		img
		{
			display: block;
			margin: 0 auto 10px;
		}
		.servicios__wrapper-item-info
		{
			h4
			{
				color: #174886;
				font-size: rem(27px);
				margin-top: 10px;
				height: 50px;
				font-family: $bd;
			}
			p
			{
				color: #434244;
				font-size: rem(16px);
				height: 200px;
				font-family: 'Open-Sans-Regular';
				@include mq(md) {
					font-size: rem(20px);
				}
			}
			p:last-child
			{
				height: auto;
				a
				{
					margin-top: 50px;
					color: #e96773;
					font-size: rem(18px);
					display: block;
					font-family: $bd;
				}
			}

		}
	}

}
#entes-reguladores
{
	background: #f7f7f7;
	padding: rem(50px) rem(0px);
	font-family: 'Open-Sans-Regular';
	h3
	{
		color: #174886;
        font-size: rem(40px);
		margin: 0 0 70px;
		text-align: left !important;
		font-family: $bd;
	}
	p
	{
		font-family: 'Open-Sans-Regular';
	}
	.col-lg-4
	{
		margin-bottom: 20px;
	}
}

.portafolio-banner,
.banner--white {
	position: relative;
	overflow: hidden;

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		@include wrapper;
		max-width: rem(1000px);
	}

	&--item {

		@include mq(md) {
			width: 48%;
		}
	}

	&__info {

		@include mq(md) {
			width: 38%;
		}

		h3 {
			font-size: rem(31px);
		}

	}
}

.banner--white {
	padding: rem(30px) rem(20px);

	@include mq(md) {
		padding: rem(100px) 0;
	}

	&:before {
		content: "";
		background-color: $white;
		display: block;
		width: 122%;
		height: 100%;
		border-bottom-left-radius:50%;
		border-bottom-right-radius:50%;
		z-index: -1;
		@include center('both');
	}

	&__info {

		h3 {
			color: $blue-header;
			font-family: $bd;
		}
	}
}
