#afiliadas
{
	background: #f7f7f7;
	padding: rem(30px) 0;
	
	.row
	{
		max-width: 1100px;
		width: 100%;
		margin: 0 auto;
		padding: 0 rem(15px);
		.banner__wrapper-cajas__item
		{
			height: 253px;
		
			img
			{
				display: block;
				margin: 0 auto;
				width: auto;
				height: 100%;
			}
		}
		.afiliadas__wrapper-title
		{
			color: #174886;
			font-size: rem(44px);
			margin: 0 0 30px;
			text-align: left;
			font-family: $bd;
		}
		p
		{
			color: #434244;
			font-size: rem(19px);
			margin: 0 0 50px;
			text-align: left;
			font-family: 'Open-Sans-Regular';
		}
	}
	.see_more
	{
		color: #e96773;
		font-size: rem(22px);
		margin: 0 0 30px;
		text-align: center;
		display: block;
		margin: 0 auto;
		font-family: $bd;
		background-image: url('../images/icons/arrow.png');
		background-position: center right;
		background-repeat: no-repeat;
		padding-right: 25px;
		width: 190px;
		text-decoration: none;
		&:hover
		{
			text-decoration: none;
		}
	}
}
#organigrama
{
	.row
	{
		max-width: 1100px;
		width: 100%;
		margin: 50px auto;
		.banner__wrapper-cajas__item
		{
			height: auto;
			text-align: center;
			margin-bottom: 20px;
			img
			{
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 250px;
				height: auto;
			}
			h4
			{
				color: #174886;
				font-size: rem(32px);
				margin: 10px 0;
				font-family: $bd;

			}
			p
			{
				color: #434244;
				font-family: 'Open-Sans-Regular';
				font-size: rem(18px);
				margin: 10px 0;
			}
		}
	}
	.organigrama__wrapper-title
	{
		color: #174886;
		font-size: rem(40px);
		margin: 0 0 70px;
		text-align: left;
		font-family: $bd;
	}
}
.destacado{
	header{
		h2{
			color:$morado;
		}
	}
}
.event {
	&-wrapper {
		@include mq('md') {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&-info {
		h2,
		h3 {
			@include font(20px);
			text-transform: uppercase;
			@include mq('md') {
				@include font(30px);
			}
		}

		&-text {
			padding: rem(15px);
			@include mq('md') {
				padding: rem(15px) ;
				width: 65%;
			}
		}

		&-details {
			padding: rem(15px);
			background-color: $gray-f6;
			h3 {
				padding-bottom: rem(10px);
				position: relative;
				text-align: center;
				&::after {
					content: "";
					@include background-gradient($morado, $fucsia, 'horizontal');
					display: block;
					position: absolute;
					width: 100%;
					height: rem(5px);
					left: 0;
					bottom: 0;
				}
			}
			@include mq('md') {
				padding: rem(30px);
				width: 65%;
			}

			table {
				tr {
					td {
						padding: rem(12px);
					}
				}
			}

			.cta-actions {
				padding: rem(22px) 0;
				a {
					position: relative;
					display: block;
					text-align: center;
					padding: rem(12px) rem(52px);
					font-family: $bd;
					color: $white;
					@include background-gradient($green, $aqua, 'horizontal');
					&::before {
						content: "";
						width: rem(23px);
						height: rem(20px);
						@include center('vertical');
						@include iconBg('../images/icons/shopping-cart.svg', 23px);
						left: rem(15px);
					}
				}
			}
		}
	}
}
