body {
	font-family: $rg;
	font-size: 16px;
	margin-top: 0;
	color: $gray;
	width: 100%;
	margin: 0 auto;
	font-family: $lt;
	strong,
	b, h1, h2, h3 {
		font-family: $lt;
	}
	img
	{

		width: 100%;
		@include mq('sm') {
			width: auto;
		}
	}

	// Link styles

	a {
		transition: all 0.3s;
		&:hover {
			transition: all 0.2s;
		}
	}

	p {
		font-family: $rg;
	}

	// Page bg gremial
	&.page-template-templates_cajaHerramientas-tpl-php,
	&.page-template-templates_portafolio-gremial-tpl-php,
	&.page-template-templates_normativa-tpl-php,
	&.page-template-templates_politicaP-tpl-php,
	&.page-template-templates_normatividad-tpl-php,
	&.page-template-templates_biblioteca-tpl-php,
	&.page-template-templates_experiencias-tpl-php,
	&.page-template-templates_estadistica-tpl-php {
		background-color: $gray-f6;
	}
}
.container
{
	// max-width: 1000px;
	margin: 0 auto;
}
.visible-desktop {
	display: none !important;
	@include mq('sm') {
		display: block !important;
	}
}
.visible-mobile {
	display: block !important;
	@include mq('sm') {
		display: none !important;
	}
}
// Social menu
#menu-menu-redes,
#menu-menu-redes-1 {
	li {
		display: inline-block;
		vertical-align: top;
		width: rem(32px);
		height: rem(32px);
		margin: 0 rem(5px);
		margin-left: 20px;
		
		a {
			display: block;
			width: rem(47px);
			height: rem(47px);
			&:hover {
				opacity: 0.7;
			}
		}
		&.facebook {
			a {
				@include iconBg('../images/icons/facebook.svg', 47px);
			}
		}
		&.twitter {
			a {
				@include iconBg('../images/icons/twitter.svg', 47px);
			}
		}
		&.youtube {
			a {
				@include iconBg('../images/icons/youtube.svg', 47px);
			}
		}
		&.instagram {
			a {
				@include iconBg('../images/icons/insta.svg', 47px);
			}
		}
	}
}

// backgrounds

.bg-gray-lt {
	background-color: $gray-f6;
}
