section {
	&#MainPost {
		background-color: $gray-f6;
	}
}

.pod-news {
	padding: rem(20px) 0;

	&--wrapper {
		@include mq('md') {
			display: flex;
			flex-wrap: wrap;
		}
		.home-news{
			margin: 0 24px;
			width: 100%;
			@include mq('md'){
				width: 45%;
			}
		}
	}

	&--item {
		display: flex;
		text-align: center;
		padding: rem(10px);
		position: relative;
		@include mq('md') {
			width: 50%;
		}
		.ver-mas{
			text-align: right;
			a{
				padding-right: 20px;
				color: $naranja;
			}
		}

		&:hover {
			.pod-news--overlay {
				transition: all 0.5s;
				opacity: 1;
				@include coverAbsolute (2);
			}
		}
	}

	&--thumb {
		border-radius: 38px 0px 0px 38px;
		-moz-border-radius: 38px 0px 0px 38px;
		-webkit-border-radius: 38px 0px 0px 38px;
		border: 0px solid #000000;
		display: block;
		margin: 0;
		width: 70%;
		height: auto;
		position: relative;
		@include bgcover;
		a {

		}
	}

	&--caption {
		border-radius: 0px 38px 38px 0px;
		-moz-border-radius: 0px 38px 38px 0px;
		-webkit-border-radius: 0px 38px 38px 0px;
		border: 0px solid #000000;
		background-color: $white;
		padding: rem(17px);
		text-align: left;
		h3 {
			margin-top: 0;
			position: relative;
			a {
				@include font(20px);
				color: $blue-dk;
			}
		}
		h4 {
			@include font(18px);
			display: inline-block;
			position: relative;
			padding-left: rem(32px);
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				width: rem(22px);
				height: rem(22px);
				@include iconBg('../images/icons/clock.svg', 22px);
			}
		}
	}

	// OVERLAY

	&--overlay {
		opacity: 0;
		padding: 0 rem(20px);
		position: absolute;
		@include coverAbsolute (-1);
		transition: all 0.3;
		.overlap-bg {
			@include coverAbsolute (0);
			opacity: 0.8;
			background-color: $purple;
		}

		.over-text {
			@include coverAbsolute (3);
			display: table;
			text-align: center;
			padding: 0 rem(20px);
			@include mq('md') {
				padding: 0 rem(25px);
			}
			&--center {
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				color: $white;
				a {
					color: $white;
					&.more-link {
						font-family: $bd;
						text-transform: uppercase;
					}
				}

				.more-icon {
					width: rem(35px);
					height: rem(35px);
					margin: rem(20px) auto 0;
					@include iconBg('../images/icons/round-add-button.svg', 35px);
					display: block;
				}
			}
		}
	}
}

// --- SIDEBAR --- //
#sidebar{
	background-color: $gray-f6;
	.sidebar{
		padding: 15px;
		.recent-posts-2{
			.posts-sidebar{
				a{
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}
.widget_recent_entries {
	> h4 {
		color: $blue-header;
		@include font(35px);
		font-family: $bd;
		margin: 0 0;
		padding: 0 0 rem(10px);
		position: relative;
		display: inline-block;
		padding: 10% 10% 10% 0;
	}
}

.posts-sidebar {
	.pod-news--item {
		display: flex;
		text-align: center;
		padding: rem(10px);
		position: relative;
		@include mq('md') {
			width: 100%;
		}
		.ver-mas{
			text-align: right;
			a{
				padding-right: 20px;
				color: $naranja;
			}
		}

		&:hover {
			.pod-news--overlay {
				transition: all 0.5s;
				opacity: 1;
				@include coverAbsolute (2);
			}
		}
	}


	&--thumb {
		display: block;
		margin: 0;
		width: 100%;
		height: rem(260px);
		position: relative;
		@include bgcover;
		a {
			display: block;
			@include coverAbsolute(1);
		}
	}

	&--caption {
		background-color: $white;
		padding: rem(17px);
		text-align: left;
		h3 {
			margin-top: 0;
			position: relative;
			a {
				@include font(20px);
				color: $gray;
			}
		}
		h4 {
			@include font(18px);
			display: inline-block;
			position: relative;
			padding-left: rem(32px);
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				width: rem(22px);
				height: rem(22px);
				@include iconBg('../images/icons/clock.svg', 22px);
			}
		}
	}

	// OVERLAY
	&--overlay {
		opacity: 0;
		padding: 0 rem(20px);
		position: absolute;
		@include coverAbsolute (-1);
		transition: all 0.3;
		.overlap-bg {
			@include coverAbsolute (0);
			opacity: 0.8;
			background-color: $purple;
		}

		.over-text {
			@include coverAbsolute (3);
			display: table;
			text-align: center;
			padding: 0 rem(20px);
			@include mq('md') {
				padding: 0 rem(25px);
			}
			&--center {
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				color: $white;
				a {
					color: $white;
					&.more-link {
						font-family: $bd;
						text-transform: uppercase;
					}
				}

				.more-icon {
					width: rem(35px);
					height: rem(35px);
					margin: rem(20px) auto 0;
					@include iconBg('../images/icons/round-add-button.svg', 35px);
					display: block;
				}
			}
		}
	}
}
#PostDetail{
	padding: 5%;
	article{
		section{
			header{
				h2{
					text-transform: initial;
					color: $blue-header;
					font-family: $bd;
					text-align: left;
				}
			}
		}
	}
}
